
<html>
 

<body>
 <h3 class="page-header">Modify Recipe</h3>

	 <%= render 'shared/recipe_error_messages.html.erb' %>
 
<%=form_for(:recipe,:url=>{:action=>'updateRecipe',:id =>@recipe.id}) do |f| %>
 
 
<table  class="table">
 
<tr>
<th>Recipe Title</th>
<td>
		<%=f.text_field(:title)%></td>
		</tr>
		
		<tr>
		<th>Recipe Instructions</th>
		<td > 
				<%=f.text_area(:content,size: "60x12")%></td>
				</tr>
				<tr>
					<th>Change Picture</th>
					<td>
			
			<%= f.file_field :recipephoto %>		</td> 
			</tr>
					<tr>
						<th>
						Posted By</th>
						<td><%=f.text_field(:posted_by,:disabled=>'true')%> </td>	 
					 </tr>
		 
			<tr><td></td>
			 <td>  <%=f.submit "MODIFY",class:'btn' %> 
					  <%=link_to("CANCEL",{:action=>'index'},:class=>'btn')%> </td>
	
	 </tr>
	 
	<%end%>
	
	</body>
	</html>
	
	
	
	
