 <html>
 <body>
  
	 <h3 class="page-header">Show Recipe</h3>

	<table class="table">
	 
 				<%@recipes.each do |recipe|%>
 				

					<tr> 
						<th>  
				 		 <%= recipe.title%> 
		 				</th>
		
					</tr>
					<tr>  
						<td><b>Posted  by: </b>
									<%=recipe.posted_by%> On :</b> 

							<%=recipe.created_at.strftime('%e %b %Y %I:%M %p') %></td>
 
	 				</tr> 
						<tr>
								<td>
								<%= image_tag recipe.recipephoto.url(:medium) %>
								</td>
						</tr>       				      		  
 	 	<tr> 
						<td>
						<%= simple_format(h(recipe.content))%>
			 				
			 			</td>
		 			</tr>	

  
				 
						<%end%>
			</table>
				<div class="btn">
						<%=link_to("Back", :action=>'index')%></div>
			
 	
	 
</body>

</html>