<html>
<body>
		
 <div  class='page-header'>
	<h2>Recipes List</h2>
</div>

	<%=link_to("Add new Recipe ",{:action=>'new'},:class=>'btn')%> 
 	<%=link_to("Cancel",{:controller=>'access',:action=>'menu'},:class=>'btn')%>
			 
<br><br>
	<table class="table table-striped">

			<tr>
				<th>Recipe Title</th>
				<th>Posted By</th>
				<th>Actions</th>
			</tr>
			
			<%= will_paginate%>
 
		<%@recipes.each do |recipe|%>
<tr>
<td><%=simple_format(recipe.title)%> </td>
<td><%=simple_format(recipe.posted_by)%> </td>
	  			
	  		
	 	  	<td>	
	<%=link_to("VIEW",{:action=>'listRecipe',:id=>recipe.id},:class=>'btn')%>	
	<%=link_to("EDIT",{:action=>'editRecipe',:id=>recipe.id},:class=>'btn')%>	
	<%=link_to("DELETE",{:action=>'deleteRecipe',:id=>recipe.id},:class=>'btn btn-danger')%>
			 </td>
</tr>
 		<%end%>
	</table>
				<%= will_paginate%>
	
	 <h3>
	 	<%=flash[:notice]%>
	 </h3> 
	
	 
	
	</body>
	  

	
</html>
 
