<html>
<body>
 <%= render 'shared/recipe_error_messages.html.erb' %>
 <h3 class="page-header">Create New Recipe</h3>


		<%=form_for(:recipe,:url=>{:action=>'createRecipe'}) do |f| %>
<table class="table">
 	<tr>
		<th>Recipe Title</th>
		<td><%=f.text_field(:title)%></td> </tr>
		<tr>
			<th>Instructions</th>
			<td>
		<%=f.text_area :content,size: "60x12" %></td>
			</tr>
				
				<tr><th>Upload picture</th>
					<td>

		 <%=f.file_field(:recipephoto) %></td></tr>
					<tr>
					<th>Author</th>
					<td>
					<%= session[:username] %></td>
					</tr>
	</tr>
 		 <tr><td></td>
<td>

 
			<%=submit_tag "CREATE " ,:class=>"btn"%> 
			  <%=link_to("CANCEL",{:action=>'index'},:class=>'btn') %></td>
		
		</tr>
	<%end%>
 
 </table>
	 
	</body>
	</html>
	 
