 
<html>
 

<body>
	 
 		 
	<h2 align="center">Admin Panel</h2>
 <div align="right"></div>
	<h3 align="left">Welcome Admin <%= session[:username]%> !</h3>
	
	
<table class="table table-striped">
	
	<tr>
		<td><h4><%=link_to("Manage Home",:controller=>'homes',:action=>'index')%></h4></td> 
	 	<td><h4><%=link_to("Manage Events",:controller=>'events',:action=>'index')%></h4></td>
		<td><h4><%=link_to("Manage Reviews",:controller=>'products',:action=>'index')%></h4></td>
	</tr>
	
		<tr>
				<td><h4>
					<%=link_to("Manage   Recipes",:controller=>'recipes',:action=>'index')%>
				</h4> 
	 			<td><h4>
	 				<%=link_to("Manage   Items",:controller=>'items',:action=>'index')%>
	 			</h4></td> 
	 			<td><h4>
	 				<%=link_to("Manage Contact Us",:controller=>'contacts',:action=>'index')%>
	 			</h4></td>
	   </tr>
 		 
 	<tr>	
 		<td><h4><%=link_to("Manage Admin Profile",:controller=>'admins',:action=>'index')%></h4></td>
	<td><h4><%=link_to("Manage Members",:controller=>'manage_members',:action=>'index')%></h4></td>
			<td><h4>
		<%=link_to("Logout",{:controller=>'access',:action=>'logout'},:class=>"btn btn-primary")%>
			</h4>
			</td>
	
	</tr>
		</table>
 
		</body>
		</html>
