<html>
 

<body>
  <%= render 'shared/member_error_messages_html.erb' %>
	 
	 <div class="page-header">
	 	<h2>Create New Member</h2>
	 </div>
<%=form_for(:member,:url=>{:action=>'createMember'}) do |f| %>
 
<table class="table">
<tr>
<th>First Name</th>
<td>	<%=f.text_field(:first_name)%></td>
<tr>
<th>Last Name</th>
<td>
		<%=f.text_field(:last_name)%></td>
		</tr>
		<tr>
<th>Username</th>
		<td>
				<%=f.text_field(:username)%></td>
				</tr>
			 
								<tr>
								<th>Password</th>
								<td>
										<%=f.password_field(:password)%></td>
										</tr>
				
	 <td>
 			<%=submit_tag "Create Member" ,:class=>"btn"%> </td>
		<td>
			<%=link_to("Cancel",{:action=>'index'},:class=>'btn') %></td>
		
		</tr>
	<%end%>
  </table>
	</div>
	</body>
	</html>
	 
