<table summary="Subject form fields">
        
  <tr>
    <th>Event Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= f.text_field(:address) %></td>
  </tr>
  <tr>
    <th>When(PST)</th>
    <td><%= f.datetime_select(:datetime) %></td>
  </tr>
  <tr>
    <th>Duration</th>
    <td><%= f.text_field(:duration) %></td>
  </tr>
  <tr>
    <th>Event Picture</th>
    <td><%= f.file_field :eventphoto %></td>
  </tr>
</table>



 