<html>
 

<body>
	
	 <h3><%=flash[:warning]%></h3> 	
 
<h2><%= @event.name %></h2>



<%= link_to("Back to Event", {:controller => 'events', :action => 'listEvents'},:class=>"btn") %>
<%= link_to("Add New Guest", {:action => 'newInvitee', :event_id => @event.id},:class=>"btn") %>
 
	<%if @invitees!=[]%>
	<h3>Guests to be invited </h3>
<%= will_paginate @invitees %>

<table class="table">
   <tr>
     <th>Name</th>
     <th>Email</th>
     <th>Actions</th>
   </tr>
 	
   <% @invitees.each do |invitee| %>
   <tr>
     <td><%= invitee.firstname %></td>
     <td><%= invitee.email %></td>
     <td>
       <%= link_to("Edit", {:action => 'editInvitee', :id => invitee.id, :event_id => @event.id},:class=>"btn") %>
       <%= link_to("Delete", {:action => 'deleteInvitee', :id => invitee.id, :event_id => @event.id},:class=>"btn") %>
     </td>
   </tr>
 <% end %>
 </table>
		
 
 <%= form_tag( { :action => 'sendEventInvite', :event_id => @event.id, :multipart => true }) %>
 <%= submit_tag  "Send Invite Now" ,:class=>'btn' %> 
				<%end%>
 
 
</hr>

 <h3>Invited Members  </h3>
	<%= will_paginate @invitedinvitees %>
<table class="table">
   <tr>
     <th>Name</th>
     <th>Email</th>
     <th>Response</th>
     <th>Number Of Adults</th>
     <th>Number Of Kids</th>
     <th>Message</th>
   </tr>

   <% @invitedinvitees.each do |invitedinvitee| %>
   <tr>
     <td><%= invitedinvitee.firstname %></td>
     <td><%= invitedinvitee.email %></td>
     <td><%= invitedinvitee.response %></td>
     <td><%= invitedinvitee.adults %></td>
     <td><%= invitedinvitee.kids %></td>
     <td><%= invitedinvitee.message %></td>
   </tr>

  <% end %>
 </table>
		
 
</body>
</html>

