<html>
 <body>		
 
 <%=form_for(:contact,:url=>{:action=>'updateContact',:id =>@contact.id}) do |f| %>
 
<h3>Modify Contact Details </h3>
	<table class="table">
		 
			<tr>
				<th>Title</th>
				<td>
					<%=f.text_field(:name)%></td>
				</tr>
				<tr>
					<th>EmailID</th>
					
					<td><%=f.text_field(:emailid)%></td>
				</tr>
				<tr>
				<th>Facebook</th>
				<td>
					<%=f.text_field(:facebook)%></td>
				</tr>
					 
					 <tr><td></td>

					 	<td> <%=submit_tag "Modify" ,:class=>"btn" %> 	 
 
		 	<%=link_to("CANCEL",{:action=>'index'},:class=>"btn")%> </td>
					 	
					 </tr>
						 
	 </tr>
		 
					<%end%>
 	</body>
	</html>
