 
<html>
 

<body>
	
 
  <h2>Create contact</h2>
 
  <%= form_for(:contact, :url => {:action => 'createContact'}) do |f| %>
  
  <table>

  <tr>
    <th>Name</th>
    <td><%= f.text_field :name %></td>
  </tr>

<tr>
    <th>EmailID</th>
    <td><%= f.text_field :emailid %></td>
  </tr>

  <tr>
    <th>Facebook</th>
    <td><%= f.text_field :facebook %></td>
  </tr>
   
  <tr>  <td> </td><td> 
	  <%= submit_tag "Create Contact",:class=>'btn' %>
<%= link_to("Cancel", {:action => 'showContact'},:class=>'btn') %> </td> </tr>

 <% end %>
</table>
    
    
  
 
 
</body>
</html>