<html>
 

<body>
 
 <h2>Manage Contact Us Page</h2><br>
 

<br>


<%if @contacts ==[]%>
<%= link_to("Add contact",{ :action => "newContact"},:class=>'btn') %>
<%end%>


<% @contacts.each do |contact| %>
<table class="table ">
	    <tr>
	      <th>Contact Us Page Title</th>
	      <td><%=contact.name %></td>
	       </tr>
<tr>
	      <th>Contact Email</th>
	      <td><%=contact.emailid %></td>
	       </tr>
 
	       <tr>
	      <th>Facebook Page</th>
	      <td><%=contact.facebook %></td> </tr>
	      <tr>
	       
	    </tr>
	     <tr>
	     
	     <td>
	     	
	     	<%= link_to("Edit", {:action => 'editContact', :id => contact.id},:class=>"btn") %>
	        <%= link_to("Delete",{:action => 'deleteContact', :id => contact.id},:class=>"btn") %>
	        <%= link_to("Cancel", {:controller => 'access', :action => 'menu'},:class=>'btn') %>
		</td>
 
	      </tr>
	      			<% end %>
	  </table>