
<html>
 <body>

	 <h3 class="page-header">Edit Item</h3>

  <%= render 'shared/item_error_message.html.erb' %>
<%=form_for(:item,:url=>{:action=>'updateItem',:id =>@item.id,:id=>@item.id}) do |f| %>
 
<table  class="table">
	<tr>
	  	<th>Item Name </th>
			<td>
		<%=f.text_field(:name)%></td>
		</tr>
		
			<tr>
		<th>Contents</th>
			<td>
		 	<%=f.text_area(:content,size: "60x12")%></td>
			</tr>
			<tr>	
				<th>Posted_By</th>
				<td>

		 	<%=f.text_field :posted_by,:disabled=>true %>
		 		</td>
				</tr>
			<tr>	
				<th>Item Picture</th>
				<td>

		 <%=f.file_field(:itemphoto) %>	</td>
				</tr>
		<tr>
			<td></td>
		 
			<td><%=submit_tag "Modify" ,:class=>'btn'%>  
 		 		<%=link_to("CANCEL",{:action=>'index',:id=>@item.id},:class=>'btn')%></td>
	 		</tr>
	
	
	<%end%>
		
		</table>
	 
		
</body>
</html>
	
	
	
