<html>
 <body>		
 
 <%=form_for(:recipe,:url=>{:action=>'updateRecipes',:id =>@recipe.id},:html => { :multipart => true }) do |f| %>
 <h3>Edit Recipe</h3>
 	<table class="table">
		 
			<tr>
				<th>Recipes Title</th>
				<td><%=f.text_field(:title)%></td>
			</tr>
				
			<tr>
					<th>Recipes Contents</th>
					<td><%=f.text_area(:content,size: "60x12")%></td>
			</tr>
					<tr>
					 	<th>Author:	 </th>
				<td><%=f.text_field :posted_by, :disabled => true %> 
				</td>	
			</tr>
				<tr>
					<th>Edit Recipe Picture</th>
					<td><%= f.file_field :recipephoto %></td>
					</tr>
			<tr>
				<td> 	
					<%=submit_tag "Edit Recipe" ,:class=>'btn'%> 

				</td> 
	<td>	
		<%=link_to("CANCEL",{:action=>'listRecipes'},:class=>'btn')%>
	</td></tr>
 					
 	<%end%>
 				</table>
 	</body>
	</html>
