 	
 
 <%=form_for(:member,:url=>{:action=>'updateMember',:id =>@member.id},:html => {:multipart => true }) do |f| %>
 	<h3>Modify Profile</h3>
 	<table class="table">
		 
			<tr>
				<th> EmailId </th>
				<td>
					<%=f.text_field(:username)%></td>
				</tr>
				
				<tr>
					<th>First Name</th>
					<td><%=f.text_field(:first_name)%></td>
		  	 	</tr>
					<tr>
					 	<th> Last Name			</th>
				<td><%=f.text_field(:last_name)%> </td>	
				</tr>
				<tr>
						<th> Change Picture </th>
					<td>
				 <%= f.file_field (:memberphoto) %></td>
					</tr>
				
			<tr>
				<td></td>
				<td> <%=f.submit "Modify Profile",class:'btn' %> 
	 				<%=link_to("CANCEL",{:action=>'showAccountInfo'},:class=>'btn')%></td>
	 		</tr>
 
		 <%end%>
					</table>
  
