<html>

<body>
  
		  <table class="table"> 
			<tr><td>
  				<h3 class="events">Upcoming Events</h3></td></tr>
 

  		<tr><td> <%= will_paginate   @upcoming_events %></td></tr>
	
  			 		<% @upcoming_events_arr.each do |event| %>
    	
 <tr> <td>		 
<h4>  
 * <%= link_to(event.name,{:controller => 'member',:action => 'eventDetails', :event_id => event.id }) %> </h4> <%= image_tag event.eventphoto.url(:thumb) %></td>
	
 
	<tr><td>
       <img src="/assets/location.jpeg" width="20" height="20"> <%= event.address %>  </td> </tr>
      					<tr><td>
		<img src="/assets/clock.jpeg" width="20" height="20"> 
	   	<%= event.datetime.strftime("%b %e %Y %I:%M %p") %> 
     							  	for  <%= event.duration %> hours</td> </tr>
      					 	
        	
      
    <% end %>
 
 
</table>
 



  
  
  <table class="table"> 
	<tr><td>
			<h3 class="events">Past events</h3>
	</td></tr>
	<tr><td><%= will_paginate  @past_events%> </td></tr>
 
     
    <% @past_events_arr.each do |event| %>
  <tr> <td>	       						 
<h4> 
     * <%= link_to(event.name , {:controller => 'member',:action => 'eventDetails', :event_id =>event.id }) %></h4><%= image_tag event.eventphoto.url(:thumb) %><td></tr>
   		<tr><td>
	       <img src="/assets/location.jpeg" width="20" height="20">
	   <%= event.address %> </td></tr>
   	<tr><td>
		<img src="/assets/clock.jpeg" width="20" height="20">  
		<%= event.datetime.strftime("%b %e %Y %I:%M %p") %> for
      	<%= event.duration %> hours</td></tr>
       
    <% end %>
   </table>
 
 
</body>
</html>