<html>
<body>
 
		<%=form_for(:item,:url=>{:action=>'createItems'}) do |f| %>
		<h3>Post New Item</h3>
<table class="table">
 	<tr>
		<th>Item Title</th>
		<td><%=f.text_field(:name)%></td> </tr>
		
		<tr>
			<th>Instructions</th>
			<td>
		<%=f.text_area :content,size: "60x12" %></td>
			</tr>
			<tr>
				<th>Posted By</th>
				<td>
				<%= session[:username] %></td>
				</tr>
				
				<tr><th>Upload Picture</th>
					<td>
			
		 <%=f.file_field(:itemphoto) %></td>
			</tr>
 		 <tr>
 		 	<td></td><td>
 
			<%=submit_tag "POST" ,:class=>'btn'%> 
			 
			<%=link_to("CANCEL",{:action=>'listItems'},:class=>'btn') %></td>
		
		</tr>
	<%end%>
<tr> <%=flash[:notice]%> </tr>
 </table>
	</div>
 
	</html>
	 
