<html>
<body>
 <%=render'shared/recipe_error_messages.html.erb' %>

 <h3 class="page-header">Create New Recipe</h3>


<%=form_for(:recipe,:url=>{:action=>'createRecipes'},:html => { :multipart => true }) do |f| %>
<table class="table">
 	<tr>
		<th>Recipe Title</th>
		<td><%=f.text_field(:title)%></td> </tr>
		<tr>
			<th>Content</th>
			<td>
		<%=f.text_area :content,size: "60x12" %></td>
			</tr>
			<tr>
				<th>Author</th>
				<td>
				<%= session[:username] %></td>
				</tr>
				
				<tr>
					<th>Upload Recipe Picture</th>
					<td>
					<%= f.file_field :recipephoto %></td>
					</tr>
 		 <tr>
 		 	<td>
			<%=submit_tag "Create Recipe",:class=>'btn'%> 
			</td> 
		<td>
			<%=link_to "Cancel",{:action=>'listRecipes'},:class=>'btn' %></td>
		
		</tr>
	<%end%>
 
 </table>

 
 
	</body>
	</html>
	 
