<html>
<body>
  
	<h2>Create new reviews</h2>
 	<%=form_for(:review, :url => {:action=>'createReviews', :product_id => @product.id}) do |f| %>

	<table class="table">
 	<tr>
    	<th>Title</th><td> <%=f.text_field(:title)%></td>
	</tr>
  	<th>Review</th>
		<td><%=f.text_area(:content,size: "60x12")%></td>
    </tr>	
	<th>Author</th>
		<td><%= session[:username]%></td>
    </tr>


 <tr><td>
    
	    <%=submit_tag "Create Review",:class=>'btn'%> 
	<%=link_to("Cancel",{:action=>'listReviews',:product_id=>@product.id},:class=>'btn')%>
     </td></tr>
 
 	</table>
<% end %>

<% @review.errors.full_messages.each do |msg| %>
        <li>*<%= msg %></li>
      <% end %>
 
	 </body>
	</html>