<html>
 
<body>
 	
 
<div class='row'>
	<div class='span8 offset1'>
<h3 class="page-header"> Reviews for <%=@product.title%> </h3>

 	<%=link_to("Add Reviews",{:action=>'new',:product_id=>@product.id},:class=>'btn')%>  
	
 	<%=link_to("Cancel",{:controller=>'products',:action=>'index'},:class=>'btn')%> 

<br><br>
	 
 

	<table class="table table-striped">
	<th>	<%="TITLE"%>   </th>
		<th>	<%="Posted By"%>   </th>
	<th>	<%="Actions"%></th>
	<% @reviews.each do |review|%>
 <tr>       				 
        	<td>	<%=review.title	%></td> 
        	<td>	<%=review.posted_by	%></td> 
			 
				<td>
 <%=link_to("EDIT",{:action=>'editReview',:id=>review.id,:product_id=>@product.id},:class=>'btn')%>
							  
<%=link_to("DELETE",{:action=>'deleteReview',:id=>review.id,:product_id=>@product.id},:class=>'btn  btn-danger')%>	   </td>	
			 	   
		</tr>
		
		
	<%end%>

	
	</table>
	
	 
	
</div>
</div>
 
