<div class="container">
	<div class="row">
		<div class="span12">
		 <%@homes.each do |home|%>
			  <img src='/assets/home.gif'>
  			  <h1 class="page-header">About Us</h1>
			  <div id="home_content">
			  	<%=home.content%>
			  </div>		
			  <div> 
			  <center> 
			 	<%=link_to("Sign In",{:action=>'login'},:class=>'btn btn-primary btn-large')%>
				<%=link_to("Sign Up",{:action=>'new'},:class=>'btn btn-primary btn-large')%> 
			  </center> 
			  </div>
		  		<%end%>
		</div><!--span12-->
	</div>		<!--row-->		

 		  
<div class="row">
	 
<center><h3> Whats Trending?</h3></center>
 
 	<div class="span12">
	 	<div class="span3 well surface">
 			<h4>Latest Kids Events</h4>
 			<center>
 				<img src='/assets/home.gif'>
 			</center>
 			<p> <% @events.each do |event| %>
 				<ul class="nav nav-list">
 					<li>
 						<%= link_to event.name,"" %> 
 					</li>
 				</ul>
				<%end%>
				 
 			</p>
	 	</div>
	 	<div class="span3 well surface">
 		 <h4>Newest Kids Recipes</h4>
 			<center>
 				<img src='/assets/home.gif'>
 			</center>
 			<p> <% @recipes.each do |recipe| %>
 				<ul class="nav nav-list">
 					<li>
 						<%= link_to recipe.title,"" %> 
 					</li>
 				</ul>
				<%end%>
    		</p>
	 	</div>
 		<div class="span3 well surface">
 			<h4>Kids Items on sale</h4>
 			<center>
 				<img src='/assets/home.gif'>
 			</center>
 			<p> <% @items.each do |item| %>
 				<ul class="nav nav-list">
 					<li>
 						<%= link_to item.name,"" %> 
 					</li>
 				</ul>
				<%end%>
				 
 			</p>
 		</div>
   </div><!--row-->
	  
	<div class="row">
		<div class="span6 offset3">
			<%= render_shareable  :facebook=> {:send=> 'true', :url=> 'https://www.facebook.com/MomsAndTotsSylvanParkNeighborhood'} %> 
		</div>
		
	</div>

 </div><!--container--> 

 
	<script type='text/javascript'>
	    $(document).ready(function() {
	        $('.well').hover(function(){
	        	$(this).css("background","white");
	        },function(){
	        	$(this).css("background","#f5f5f5");
	        }); 
	    });    
	</script>

 