



 
 	 
 		<div class='row'>	 
 			 <div class='span11'>
 				 

			 			<%@homes.each do |home|%>
			 				
						<center>
					 
								<img src='/assets/home.gif'>
							 
							<div class="page-header">
								<h2>Kids Paradise</h2>
							 </div>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class='carimage' src="/assets/slide3.JPG" class="img-rounded"  >
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
     <img class='carimage' src="/assets/slide11.JPG" class="img-rounded"  >
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




 


							<div class="span12">

					 		  
					  				 <div class="page-header">
					  				 	<h1>About Us</h1>
					  					
					  				</div>
					  				<p><%=simple_format(home.content)%></p>		
					  	  
							<p> 
								<center> 
							 	<%=link_to("Sign In",{:action=>'login'},:class=>'btn btn-primary btn-large')%>
								<%=link_to("Sign Up",{:action=>'new'},:class=>'btn btn-primary btn-large')%> 
								</center>
							</p>
		 
					<%end%>
				</div>
					

		  
			
 

</div>

</center>
 

<br><br>

<center><h3> Whats Trending?</h3></center>
 
 <div class="row">

 	<div class="span12">
	 		<div class="span3 well ">
	 			<h4>Latest Kids Events</h4>
	 			<center>
	 				<img src='/assets/home.gif'>
	 			</center>
	 			<p> <% @events.each do |event| %>
	 				<ul class="nav nav-list">
	 					<li>
	 						<%= link_to event.name,"" %> 
	 					</li>
	 				</ul>
    				<%end%>
    				 
	 			</p>
	 		</div>
	 		<div class="span3 well">
	 		
	 			<h4>Newest Kids Recipes</h4>
	 			<center>
	 				<img src='/assets/home.gif'>
	 			</center>
	 			<p> <% @recipes.each do |recipe| %>
	 				<ul class="nav nav-list">
	 					<li>
	 						<%= link_to recipe.title,"" %> 
	 					</li>
	 				</ul>
    				<%end%>
    				 
	 			</p>
	 		</div>
	 		<div class="span3 well">
	 			<h4>Kids Items on sale</h4>
	 			<center>
	 				<img src='/assets/home.gif'>
	 			</center>
	 			<p> <% @items.each do |item| %>
	 				<ul class="nav nav-list">
	 					<li>
	 						<%= link_to item.name,"" %> 
	 					</li>
	 				</ul>
    				<%end%>
    				 
	 			</p>
	 		</div>

	 	</div>

	<%= render_shareable  :facebook=> {:send=> 'true', :url=> 'https://www.facebook.com/MomsAndTotsSylvanParkNeighborhood'} %> 
	 	 
	 	</div>

 
 
	<script type='text/javascript'>
	    $(document).ready(function() {
	         $('.carousel').carousel({
	             interval: 3000
	         })
	    });    
	</script>

 