 
	
	<div class="row">
		<div class="span2">

			<aside class="asideStyle">  
				<nav>
					<ul class="nav nav-pills nav-stacked">  
						<li class="nav-header">	
							<h4>Review Categories </h4>
						</li>
						<%@products.each do |product|%> 	 
 						 	<li><%=link_to(product.title,:controller=>'public',:action=>'listReviews', 	:product_id=>product.id) %>  	 </li>
						<%end%>
					 <ul>
 				</nav>
 			</aside>
 		 </div>
	 
		
 
	<div class="span9">
	 	<article class="articleStyle"> 
	 		<div class="page-header">
	 			<h2> <%=@product.title%> 's  Reviews</h2>

	 		</div>
		<%= will_paginate @reviews %>
	 	
			
			 
 <%if @reviews == []%>
  <p>
  	<%="Not Reviewed yet"%>
  </p>
		 <%else%>
				<% @reviews.each do |review|%>

				<h3> <%=review.title	%> </h3>
				 
			 <div class="row">
			 	<div class="span4">
			 		<%= image_tag(review.reviewphoto.url(:medium)) %> 		
			 	</div>
			 	<div class="span8">
			 		<p><%= word_wrap(review.content,:line_width=>500)%></p> 
			 	</div>
			 </div>


			  <footer>
				   <h3>
					  <p> Posted by : <%=review.posted_by%> On  
					 	<%=review.created_at.strftime("%e %b %Y %I:%M %p") %>
				      </p> 
				 </h3>
			  </footer>
	   		 
	 		 
 	<%end%>	 	 
 <%end%>
	
					<%= will_paginate @reviews %>
		 			 
		 
 </div>
  </div>
 </article>

 
 