 <h2 class="page-header"> Items for Sale  </h2>
				<%= will_paginate @items %>

<div class="container">			 
<div class="row"> 


	<div class="span2"> 
		 
				 <nav>
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-header">
							<h4> Top Items  </h4>
						</li>
						<li class="divider"></li>		
							<%@allItems.each do |item|%>
						<li>
							<%=link_to item.name,""%>  
						</li>
						<%end%>
					</ul>
				 </nav>
			 
	</div>	

		
	 <div class="span9"> 
		 
				
			 
				
				<%@items.each do |item|%> 

				 
				 
					 <h3 class="section-head">
					 	<%=item.name%> 
					 </h3>
					 
						<span class="image_dimension">
							<%= image_tag(item.itemphoto.url(:medium),:class=> "img-rounded") %> 
						</span>
						<br><br>
							 
					<pre>
						<%=item.content%>
					</pre>
					
					 
					 <h5> Posted By: <%=item.posted_by%>on <%=item.created_at.strftime("%B %e %Y") %></h5>
	 
			
			<%end%>	
	 
	</div>
			  

</div>
 
	 
 
</div>	