 <h2 class="page-header">  Latest Reviews</h2>  
<h5><%= will_paginate @reviews %></h5>		 
<div class="container">
	<div class="row"> 
		<div class="span2 well"> 
		  <%if !@products.empty?%>
			 <nav >
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">
					<h4> Review Categories</h4>
				</li>
				<li class="divider"></li>				    
				 <%@products.each do |product|%> 
					<li>
						<%=link_to(product.title,{:controller=>'public',:action=>'listReviews',:product_id=>product.id}) %> 
					 </li> 	
			 		<%end%>
			 		</ul>
					 </nav>
			<%end%>
			 	     	 
		 </div>

 
		<div class="span9"> 
		  <% @reviews.each do |review|%>
 			<h3 class="section-head"> <%=review.title%></h3> 
 			<div class="row"> 
 				<div class="span2 image_dimension">		 	
					<% if(review.reviewphoto) %> 		 		
						 <%= image_tag (review.reviewphoto.url(:medium)) %>
					<%end%>
				</div>
				<div class="span4 well">
					<pre>	<%= review.content%></pre>				
					 <h5>Posted by: 
					<%=review.posted_by%> On  
					 <%=review.created_at.strftime("%e %b %Y %I:%M %p") %> </h5>	
				</div>		  
				 <%end%>	
			 </div>
	 </div>
</div>		

 
	 
  
