<html>

<body>
 

<div class="container">
		<div class="span2">
			<h4> All Recipes</h4>
			<table class='table-hover'>
		  
 					<%@allrecipes.each do |recipe|%>
         	<tr>	 		 
 		<td> <%=simple_format(word_wrap(recipe.title))%> </td></tr>
			 
					<%end%>	</table>
	 	 </div>
		 
		<div class="span9">
			
	 	<h2>Latest Recipes</h2>
		 
  
		<%= will_paginate @recipes %>
			<table class="table"> 
 				<%@recipes.each do |recipe|%>
          		 		 
 				<tr>	
					<td>
						<h3 class="text-error"><%=recipe.title%></h3>
							 <b>By </b> <%=recipe.member_username%> 
					 				<b>On </b> <%=recipe.created_at.strftime("%B %e %Y") %></td>

								</tr>
						<tr>
							<td>
								<%= image_tag recipe.recipephoto.url(:medium) %>
							</td>
						</tr>
					
	 	 
							<tr> 
		<td> <%=simple_format(word_wrap(recipe.content,:line_width=>400))%> </td></tr>
		
	 	
 		<%end%>
		</table>
 				<%= will_paginate @recipes %>
  			 
 
	
 </div>
</div>
	
	</body>
	  

	
</html>
 

 
