 	 
<div class="row"> 
		<div class="span2"> 
			<aside class="asideStyle"> 
				 <nav>
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-header">
							<h4> All Recipes</h4> 
						</li>

	 					<%@allrecipes.each do |recipe|%>
        		 
   							<li> 
   								<%=link_to recipe.title,""%> 
   							</li>
			 
						<%end%>	
		 	
				</nav>
			</aside> 
	 	 </div>
 
		 
	 <div class="span8 offset1">
	 	<article class="articleStyle">
	 		<div class="page-header">
	 			<h2>Latest Recipes</h2>
	 		</div>
	 		
	 		<section>
	 			<%= will_paginate @recipes %>
	 					<%@recipes.each do |recipe|%>
	 					<head>	
	 						<h3> <%=recipe.title%></h3> 	
	 					 </head>

	 		<div class="row"> 
	 			<div class="span6"> 
		 				<div class="thumbnail">
		 				<%= image_tag recipe.recipephoto.url(:medium) %>
		 				</div>
	 			</div>
	 		</div>
	 		<div class="row"> 
	 			<div class="span8"> 
		 				 <%=simple_format(word_wrap(recipe.content,:line_width=>300))%>
	 			</div>
	 		</div>

	 		</section>
	 		<footer class="meta-article">
	 			<h5> Posted By<%=recipe.posted_by%> On  
					  <%=recipe.created_at.strftime("%e %b %Y %I:%M %p") %> </h5>
	 			
	 		</footer>
	 	</article>

	 	<%end%>
	  
 				<%= will_paginate @recipes %>
  			 
 </div>
</div>