<html>

<body>
 	 
		

<div class="row">

		<div class="span3">
			
 <!--Search Functionality for Recipes-->
			
 <%=form_tag(:controller=>"public",:action=>'searchRecipes') do %>


<%= text_field_tag(:search, params[:search], :placeholder => "Search Recipes", :id => "searchTag") %> 
  
                   
						  <%= submit_tag "Search", :name => nil,:class=>'btn' %> 
						
						 
		 

			 <% end %> 
			<!--End of Search Functionality for Recipes-->
			
			
				<div class="leaderboard">
	 			
			<img src='/assets/cooking.png'>
			
		
			<h4> All Recipes</h4> 
 	
			<table class='table-hover'>
		  
 					<%@allrecipes.each do |recipe|%>
         	<tr>	 		 
 		<td> <%=simple_format(word_wrap(recipe.title))%> </td></tr>
			 
					<%end%>	</table>  
	 	 </div>
	
	
	</div>
		 
		<div class="span8">
	 
	<table class="table"> 
		<tr>	
			<td>
		<h2>Latest Recipes</h2></td>
	
 
		<%= will_paginate @recipes %>
		
 				<%@recipes.each do |recipe|%>
          		 		 
 				<tr>	
					<td>
						<h3 class="text-error"><%=recipe.title%></h3>
							 <b>By </b> <%=recipe.member_username%> 
					 				<b>On </b> <%=recipe.created_at.strftime("%B %e %Y") %></td>

								</tr>
						<tr>
							<td>
								<%= image_tag recipe.recipephoto.url(:medium) %>
							</td>
						</tr>
					
	 	 
							<tr> 
		<td> <%=simple_format(word_wrap(recipe.content,:line_width=>400))%> </td></tr>
		
	 	
 		<%end%>
		</table>
 				<%= will_paginate @recipes %>
  			 
 
	
 </div>
</div>


</div>
</div></div>
</div>
	
	
	
	
</div>	<!--<div class="row">-->
	
	
	</body>
	  

	
</html>
 

 
