	 
<div class="row"> 


	<div class="span2"> 
			<aside class="asideStyle"> 
				 <nav>
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-header">
							<h4> Top Items  </h4>
						</li>
						<li class="divider"></li>		
							<%@allItems.each do |item|%>
						<li>
							<%=link_to item.name,""%>  
						</li>
						<%end%>
					</ul>
				 </nav>
			</aside>
	</div>	

		
	 <div class="span8 offset1"> 
		<article class="articleStyle">
				<div class="page-header">
					<h2> Items for Sale  </h2>
				</div>
				
				<%= will_paginate @items %>
				
				<%@items.each do |item|%> 

					<div class="row">
						
					<head>	
					 <h3><%=item.name%> </h3>
					</head>
						<div class="span6">
							<figure class="thumbnail">
								<%= image_tag item.itemphoto.url(:medium) %>
							<figure>
						</div>
					</div>
					<div class="row">
						<div class="span8">
								<p>
									<%=simple_format(word_wrap(item.content,:line_width=>300))%>
								</p>
							 
						</div>
					</div>

		 
			<footer id="article-meta">
					 <h5> Posted By: <%=item.posted_by%>on <%=item.created_at.strftime("%B %e %Y") %></h5>
			</footer>
			<%= will_paginate @items %>
			<%end%>	
		</article>
	</div>
			  

</div>
 
	 
 
