 
		 
<div class="row"> 
		<div class="span2"> 
		<aside class="asideStyle"> 

			<%if !@products.empty?%>
			 <nav >
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">
					<h4> Review Categories</h4>
				</li>
				<li class="divider"></li>				    
				 <%@products.each do |product|%> 
					<li>
						<%=link_to(product.title,{:controller=>'public',:action=>'listReviews',:product_id=>product.id}) %> 
					 </li> 	
			 		<%end%>
			 		</ul>
					 </nav>
			<%end%>
			 	     	 
			</aside>

	</div>

	<div class="span8 offset1"> 
		
	 <article class="articleStyle"> 
		
		<div class="page-header"> 
		 	<h2>  Latest Reviews</h2> 

		 </div>
 
		
		 	 
			 <%= will_paginate @reviews %>
			 
					<% @reviews.each do |review|%>

					<div class="section-head">
						<h3> <%=review.title	%></h3> 
					</div>

					<div class="row">
						<div class="span6">
							 
									<% if(review.reviewphoto) %> 		 		
									 	 
									 		<%= image_tag (review.reviewphoto.url(:medium)) %>
								 
									<%end%>
							 
						</div>
					</div>
					 <section> 
					<div class="row"> 
						<div  class="span8" > 
								 <%= simple_format(review.content,:line_width=>200)%>
						</div>
					</div>
	 	
			<footer id="article-meta">
				 <h5>Posted by: 
				 <%=review.posted_by%> On  <%=review.created_at.strftime("%e %b %Y %I:%M %p") %> </h5>		
			</footer>
	 

				</section>
	 <%end%>	
				<div>
		 			<h5><%= will_paginate @reviews %></h5>
			</div>
	</article>

	</div>
</div>		
	
	 
  
