<html>
 

<body>
		 
	<div class="container">
	 
 <div class='span2'>
			
				 <br>
							    
					<h4>Review<br> Categories</h4>
		 	 	
				
						<%@products.each do |product|%> 
 	  
	<ul class='nav'><li> 
<%=link_to(product.title,{:controller=>'public',:action=>'listReviews',:product_id=>product.id}) %>   </li></ui> 
	  
 
 	<%end%>
 	<%= will_paginate @products %>
</div>	 
 
 <div class='span8'>
	<h2>  Latest Reviews</h2><br>
	<%= will_paginate @reviews %>
	<% @reviews.each do |review|%>
	<table class='table'>
		<tr>	

			<td>
 
				<h3 class='text-error'>	
					 <%=review.title	%></h3> 
					 <b>Posted by : </b>
					<%=review.member_username%> 
	  				On  
 
					<%=review.created_at.strftime("%B %e %Y") %></td>     </tr>     				 
						
						<% if(review.reviewphoto) %> 		 		
					<tr>
							<td>
							<%= image_tag (review.reviewphoto.url(:medium)) %>
						
							</td>
					</tr>
						<%end%>
					<tr>
						<td >	
							<p><%= simple_format(review.content,:line_width=>300)%></p></td> </tr> 	 
	
		<tr> </tr>	  
		
 
			<%end%>	

		</table>

		<%= will_paginate @reviews %>
	
	</div>
	
	 
	</div>
  </body>
	
</html>
 
