<html>

<body>
 
 
<div class="container">
	
	<div class="row">
		<div class="span3">
<div class="leaderboard">
	
					 <ul class='nav'>
						<li>	<h4>Review Categories </h4></li>
					
						<%@products.each do |product|%> 	 
 						 <li>
						<%=link_to(product.title,:controller=>'public',:action=>'listReviews', 	:product_id=>product.id) %>  	 </li>
						<%end%>
						</ul>
				 </div>	<!--leaderboard-->
 					</div><!--span3-->
 
	 
		
 
<div class="span8">
	 
			<h2> <%=@product.title%> 's  Reviews</h2>
	 	 
			<br>
	
			<%= will_paginate @reviews %>
			<table class="table" >
 <%if @reviews == []%>
	<tr><td> <p class='lead'>	 <%="Not Reviewed yet"%></p></td></tr>
		 <%else%>
				<% @reviews.each do |review|%>
				<tr align ="left">	
	
					<td >
  
			
			<h4 class="text-error">	 <%=review.title	%></h4> 
	  <p> <b>Posted by : </b>
		 		<%=review.posted_by%> 
				  On  
			 
				<%=review.created_at.strftime("%e %b %Y %I:%M %p") %></p></td>     </tr>     				 
           		 		 
					<tr>
							<td>
							<%= image_tag(review.reviewphoto.url(:medium)) %>
							</td>
					</tr>
						<tr align ="left">
				<td class="lead">	
				<p><%= word_wrap(review.content,:line_width=>500)%></p></td> </tr> 	 
				
					<tr> </tr>	  
				
					<tr> 
					
						</tr>

						
			 
 	<%end%>	
 
					</table>
					<%end%>
	
					<%= will_paginate @reviews %>
		 			<h3><%=flash[:notice]%></h3>
		 
 </div>

</div><!--row-->

</div><!--container-->
 
</body>
	
</html>
 
