 
<h2 class="page-header text-center">Latest Recipes</h2>
	 		 
<%= will_paginate @recipes %> 	 
<div class="container">
<div class="row"> 
		<div class="span2 well"> 
				 <nav>
					<ul class="nav nav-pills nav-stacked">
						<li class="nav-header">
							<h4> All Recipes</h4> 
						</li>

	 					<%@allrecipes.each do |recipe|%>
        		 
   							<li> 
   								<%=link_to recipe.title,""%> 
   							</li>
			 
						<%end%>	
		 	
				</nav>

		</div>
			 
		 <div class="span9">
		   	<%@recipes.each do |recipe|%>
		 		 <h3><%=recipe.title%></h3> 
	 
		 		<div class="row"> 
		 			 <div class="span9">		 	
			 				
			 		 <span class="image-dimension">
			 		 	<%= image_tag(recipe.recipephoto.url(:medium),:class=> "img-rounded") %> 
			 		 </span>
			 				
			 					<br><br>
			 					<pre> <%=recipe.content%></pre> 
			 			<h5> Posted By<%=recipe.posted_by%> On  
						  <%=recipe.created_at.strftime("%e %b %Y %I:%M %p") %> </h5>
		 			</div>
		 		 
		 	         <%end%>
		 	   </div>
	     </div>
	  
 				
  			 
 </div>

 </div>
 