 



<div class='row'>

	
	<div class='span3 offset1'>
	 
		<h2> Explore Kids Space !</h2>
		 

		<img src='/assets/mommyme.jpg'>
	</div>
	<div class='span6 offset1'>
		 
		<br>
		<br>
  			<h3>Please Login !!</h3> 
 		

 	  <div class="form-horizontal">
 	 
				<%=form_tag(:controller=>'public',:action=>'attempt_login') do %>
 
	          <div class="field">
	           <%= label_tag (:username)%>	
	            <%=text_field_tag(:username)%>
	          </div>

	          <div class="field">
	           <%= label_tag(:password)%>
	           <%=password_field_tag(:password)%>
	          </div>

	           <div class="actions">
				 <%=submit_tag "Sign In",:class=>'btn btn-primary btn-large' %> 
			  
				 <%=link_to("Sign Up",{:action=>'new'},:class=>'btn btn-primary btn-large')%> <br>
				 <%= link_to "Forgot password?", new_password_reset_path%>
			</div>
			 
		<%end%>
	</div>
</div>
</div>

	  
	  