 <div class="container">	

<h2> Join Clubby Kids</h2>
  <div class='row'>

	<div class='span4 offset1'>
		<img src="/assets/mommyme.jpg">
	</div>
	
	<div class='span6'>
 		   <%= render 'shared/member_error_messages_html.erb' %>
			<h2 class="signUp">Sign up</h2>
 

<%= form_for(@member,:url=>{:controller=>'public',:action =>'createMember'},
				:html => { :multipart => true }) do |f| %>
   
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>

   <%= f.label :Username %>
   <%= f.text_field :username, :placeholder => "Eg:someone@xxx.com"%>  

   <%= f.label :password %>
   <%= f.password_field :password ,:placeholder =>"password"%><br>
	 
   <%= f.submit "Create my account", class: "btn btn-primary" %>
 <% end %>


 

</div><!--span-->
</div><!--row-->


</div><!--container-->
	
	
 